<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="adlayout :: head"></head>
<body>
	<div th:replace="adlayout :: header"></div>
	<!--Content-->
	<main class="container-fluid" id="mainad"> <!--./ code here -->
	<div class="modal-content">
		<div class="modal-body" style="margin-top: 54px">
			<div id="wrapper">
				<div th:replace="adlayout :: sidebar"></div>
				<div id="page-content-wrapper">
					<h1 id="home" class="text-center font-bold mt-1">Quản lý tài
						khoản</h1>
					<section class="container-fluid overview">
						<!--Section: Intro-->
						<section class="mt-lg-4">

							<!--Grid row-->
							<div class="row">

								<!--Grid column-->
								<div class="col-xl-3 col-md-6 mb-r">

									<!--Card-->
									<div class="card card-cascade cascading-admin-card">

										<!--Card Data-->
										<div class="admin-up">
											<i class="fa fa-money success-color"></i>
											<div class="data">
												<p>SALES</p>
												<h4>2000$</h4>
											</div>
										</div>
										<!--/.Card Data-->

										<!--Card content-->
										<div class="card-body">
											<div class="progress">
												<div class="progress-bar bg-success" role="progressbar"
													style="width: 25%" aria-valuenow="25" aria-valuemin="0"
													aria-valuemax="100"></div>
											</div>
											<!--Text-->
											<p class="card-text">Better than last week (25%)</p>
										</div>
										<!--/.Card content-->

									</div>
									<!--/.Card-->

								</div>
								<!--Grid column-->

								<!--Grid column-->
								<div class="col-xl-3 col-md-6 mb-r">

									<!--Card-->
									<div class="card card-cascade cascading-admin-card">

										<!--Card Data-->
										<div class="admin-up">
											<i class="fa fa-line-chart default-color"></i>
											<div class="data">
												<p>SUBSCRIPTIONS</p>
												<h4>200</h4>
											</div>
										</div>
										<!--/.Card Data-->

										<!--Card content-->
										<div class="card-body">
											<div class="progress">
												<div class="progress-bar bg-danger" role="progressbar"
													style="width: 25%" aria-valuenow="25" aria-valuemin="0"
													aria-valuemax="100"></div>
											</div>
											<!--Text-->
											<p class="card-text">Worse than last week (25%)</p>
										</div>
										<!--/.Card content-->

									</div>
									<!--/.Card-->

								</div>
								<!--Grid column-->

								<!--Grid column-->
								<div class="col-xl-3 col-md-6 mb-r">

									<!--Card-->
									<div class="card card-cascade cascading-admin-card">

										<!--Card Data-->
										<div class="admin-up">
											<i class="fa fa-pie-chart info-color"></i>
											<div class="data">
												<p>TRAFFIC</p>
												<h4>20000</h4>
											</div>
										</div>
										<!--/.Card Data-->

										<!--Card content-->
										<div class="card-body">
											<div class="progress">
												<div class="progress-bar bg-success" role="progressbar"
													style="width: 75%" aria-valuenow="75" aria-valuemin="0"
													aria-valuemax="100"></div>
											</div>
											<!--Text-->
											<p class="card-text">Better than last week (75%)</p>
										</div>
										<!--/.Card content-->

									</div>
									<!--/.Card-->

								</div>
								<!--Grid column-->

								<!--Grid column-->
								<div class="col-xl-3 col-md-6 mb-r">

									<!--Card-->
									<div class="card card-cascade cascading-admin-card">

										<!--Card Data-->
										<div class="admin-up">
											<i class="fa fa-bar-chart deep-purple lighten-1"></i>
											<div class="data">
												<p>ORGANIC TRAFFIC</p>
												<h4>2000</h4>
											</div>
										</div>
										<!--/.Card Data-->

										<!--Card content-->
										<div class="card-body">
											<div class="progress">
												<div class="progress-bar bg-success" role="progressbar"
													style="width: 25%" aria-valuenow="25" aria-valuemin="0"
													aria-valuemax="100"></div>
											</div>
											<!--Text-->
											<p class="card-text">Better than last week (25%)</p>
										</div>
										<!--/.Card content-->

									</div>
									<!--/.Card-->

								</div>
								<!--Grid column-->

							</div>
							<!--Grid row-->

						</section>
						<!--Section: Intro-->
						<div class="row">
							<!-- First column -->
							<div class="col-lg-6 col-md-12">
								<div class="card mb-r">
									<div class="card-header white-text blue">Users activity</div>
									<div class="card-body">
										<div class="row mb-1">
											<div class="col-4">
												<small>Pages/Visits</small>
												<h4>139 419</h4>
											</div>
											<div class="col-4">
												<small>New visitors</small>
												<h4>51.94%</h4>
											</div>
											<div class="col-4">
												<small>Last week</small>
												<h4>51 932</h4>
											</div>
										</div>
										<div class="row mb-1">
											<div class="col-4">
												<small>Pages/Visits</small>
												<h4>139 419</h4>
											</div>
											<div class="col-4">
												<small>New visitors</small>
												<h4>51.94%</h4>
											</div>
											<div class="col-4">
												<small>Last week</small>
												<h4>51 932</h4>
											</div>
										</div>

										<div class="row mb-1">
											<div class="col-4">
												<small>Pages/Visits</small>
												<h4>139 419</h4>
											</div>
											<div class="col-4">
												<small>New visitors</small>
												<h4>51.94%</h4>
											</div>
											<div class="col-4">
												<small>Last week</small>
												<h4>51 932</h4>
											</div>
										</div>

										<a href="#" class="btn btn-primary">See more</a>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<!--Panel-->
								<div class="card mb-r">
									<div class="card-header white-text blue">Recent comments
										and replies</div>
									<div class="card-body">

										<table class="table no-header">
											<tbody>
												<tr>
													<td>John Doe</td>
													<td>Lorem ipsum dolor sit amet, consectetur
														adipisicing elit...</td>
													<td class="hour"><small><span
															class="grey-text float-right"><i
																class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
												</tr>
												<tr>
													<td>Merry Joe</td>
													<td>Lorem ipsum dolor sit amet, consectetur
														adipisicing elit...</td>
													<td class="hour"><small><span
															class="grey-text float-right"><i
																class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
												</tr>
												<tr>
													<td>Jessie Doe</td>
													<td>Lorem ipsum dolor sit amet, consectetur
														adipisicing elit...</td>
													<td class="hour"><small><span
															class="grey-text float-right"><i
																class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
												</tr>
												<tr>
													<td>Tyler Doe</td>
													<td>Lorem ipsum dolor sit amet, consectetur
														adipisicing elit...</td>
													<td class="hour"><small><span
															class="grey-text float-right"><i
																class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
												</tr>
												<tr>
													<td>Janusz Joe</td>
													<td>Lorem ipsum dolor sit amet, consectetur
														adipisicing elit...</td>
													<td class="hour"><small><span
															class="grey-text float-right"><i
																class="fa fa-clock-o" aria-hidden="true"></i> 12 min</span></small></td>
												</tr>
											</tbody>
										</table>

										<a href="#" class="btn btn-primary">See more</a>

									</div>
								</div>
							</div>
							<!--/.Panel-->
						</div>
						<!--Section: Cascading panels-->
						<section class="mb-5">

							<!--Grid row-->
							<div class="row">

								<!--Grid column-->
								<div class="col-lg-4 col-md-12 mb-r">
									<!--Card-->
									<div class="card card-cascade narrower">
										<!--Card image-->
										<div class="view gradient-card-header info-color">
											<canvas id="seo" height="155px"></canvas>
										</div>
										<!--/Card image-->
										<!--Card content-->
										<div class="card-body text-center">
											<div class="list-group list-panel">
												<a href="#"
													class="list-group-item d-flex justify-content-between dark-grey-text">Cras
													justo odio <i class="fa fa-wrench ml-auto"
													data-toggle="tooltip" data-placement="top"
													title="Click to fix"></i>
												</a> <a href="#"
													class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus
													ac facilisi<i class="fa fa-wrench ml-auto"
													data-toggle="tooltip" data-placement="top"
													title="Click to fix"></i>
												</a> <a href="#"
													class="list-group-item d-flex justify-content-between dark-grey-text">Morbi
													leo risus <i class="fa fa-wrench ml-auto"
													data-toggle="tooltip" data-placement="top"
													title="Click to fix"></i>
												</a> <a href="#"
													class="list-group-item d-flex justify-content-between dark-grey-text">Porta
													ac consectet<i class="fa fa-wrench ml-auto"
													data-toggle="tooltip" data-placement="top"
													title="Click to fix"></i>
												</a> <a href="#"
													class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum
													at eros <i class="fa fa-wrench ml-auto"
													data-toggle="tooltip" data-placement="top"
													title="Click to fix"></i>
												</a>
											</div>
										</div>
										<!--/.Card content-->
									</div>
									<!--/.Card-->
								</div>
								<!--Grid column-->

								<!--Grid column-->
								<div class="col-lg-4 col-md-12 mb-r">
									<!--Card-->
									<div class="card card-cascade narrower">
										<!--Card image-->
										<div class="view gradient-card-header blue-gradient">
											<canvas id="traffic" height="155px"></canvas>
										</div>
										<!--/Card image-->
										<!--Card content-->
										<div class="card-body text-center">

											<div class="list-group list-panel">
												<a href="#"
													class="list-group-item d-flex justify-content-between dark-grey-text">Cras
													justo odio <i class="fa fa-wrench ml-auto"
													data-toggle="tooltip" data-placement="top"
													title="Click to fix"></i>
												</a> <a href="#"
													class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus
													ac facilisi<i class="fa fa-wrench ml-auto"
													data-toggle="tooltip" data-placement="top"
													title="Click to fix"></i>
												</a> <a href="#"
													class="list-group-item d-flex justify-content-between dark-grey-text">Morbi
													leo risus <i class="fa fa-wrench ml-auto"
													data-toggle="tooltip" data-placement="top"
													title="Click to fix"></i>
												</a> <a href="#"
													class="list-group-item d-flex justify-content-between dark-grey-text">Porta
													ac consectet<i class="fa fa-wrench ml-auto"
													data-toggle="tooltip" data-placement="top"
													title="Click to fix"></i>
												</a> <a href="#"
													class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum
													at eros <i class="fa fa-wrench ml-auto"
													data-toggle="tooltip" data-placement="top"
													title="Click to fix"></i>
												</a>
											</div>
										</div>
										<!--/.Card content-->
									</div>
									<!--/.Card-->
								</div>
								<!--Grid column-->

								<!--Grid column-->
								<div class="col-lg-4 col-md-12 mb-r">
									<!--Card-->
									<div class="card card-cascade narrower">
										<!--Card image-->
										<div class="view gradient-card-header blue">
											<canvas id="conversion" height="155px"></canvas>
										</div>
										<!--/Card image-->

										<!--Card content-->
										<div class="card-body text-center">
											<div class="list-group list-panel">
												<a href="#"
													class="list-group-item d-flex justify-content-between dark-grey-text">Cras
													justo odio <i class="fa fa-wrench ml-auto"
													data-toggle="tooltip" data-placement="top"
													title="Click to fix"></i>
												</a> <a href="#"
													class="list-group-item d-flex justify-content-between dark-grey-text">Dapibus
													ac facilisi<i class="fa fa-wrench ml-auto"
													data-toggle="tooltip" data-placement="top"
													title="Click to fix"></i>
												</a> <a href="#"
													class="list-group-item d-flex justify-content-between dark-grey-text">Morbi
													leo risus <i class="fa fa-wrench ml-auto"
													data-toggle="tooltip" data-placement="top"
													title="Click to fix"></i>
												</a> <a href="#"
													class="list-group-item d-flex justify-content-between dark-grey-text">Porta
													ac consectet<i class="fa fa-wrench ml-auto"
													data-toggle="tooltip" data-placement="top"
													title="Click to fix"></i>
												</a> <a href="#"
													class="list-group-item d-flex justify-content-between dark-grey-text">Vestibulum
													at eros <i class="fa fa-wrench ml-auto"
													data-toggle="tooltip" data-placement="top"
													title="Click to fix"></i>
												</a>
											</div>
										</div>
										<!--/.Card content-->
									</div>
									<!--/.Card-->
								</div>
								<!--Grid column-->
							</div>
							<!--Grid row-->

						</section>
						<!--Section: Cascading panels-->

						<!--Section: Classic admin cards-->
						<section class="tag">
							<!--Grid row-->
							<div class="row">
								<!--Grid column-->
								<div class="col-xl-3 col-md-6 mb-r">
									<!--Card Success-->
									<div class="card classic-admin-card success-color">
										<div class="card-body">
											<div class="pull-right">
												<i class="fa fa-money"></i>
											</div>
											<p class="white-text">SALES</p>
											<h4>2000$</h4>
										</div>
										<div class="progress">
											<div class="progress-bar bg green darken-4"
												role="progressbar" style="width: 25%" aria-valuenow="25"
												aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="card-body">
											<p>Better than last week (25%)</p>
										</div>
									</div>
									<!--/.Card Success-->
								</div>
								<!--Grid column-->

								<!--Grid column-->
								<div class="col-xl-3 col-md-6 mb-r">
									<!--Card Default-->
									<div class="card classic-admin-card default-color">
										<div class="card-body">
											<div class="pull-right">
												<i class="fa fa-line-chart"></i>
											</div>
											<p>SUBSCRIPTIONS</p>
											<h4>200</h4>
										</div>
										<div class="progress">
											<div class="progress-bar bg-danger" role="progressbar"
												style="width: 25%" aria-valuenow="25" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
										<div class="card-body">
											<p>Worse than last week (25%)</p>
										</div>
									</div>
									<!--/.Card Default-->
								</div>
								<!--Grid column-->

								<!--Grid column-->
								<div class="col-xl-3 col-md-6 mb-r">
									<!--Card Blue-->
									<div class="card classic-admin-card blue">
										<div class="card-body">
											<div class="pull-right">
												<i class="fa fa-pie-chart"></i>
											</div>
											<p>TRAFFIC</p>
											<h4>20000</h4>
										</div>
										<div class="progress">
											<div class="progress-bar bg blue darken-4" role="progressbar"
												style="width: 75%" aria-valuenow="75" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
										<div class="card-body">
											<p>Better than last week (75%)</p>
										</div>
									</div>
									<!--/.Card Blue-->
								</div>
								<!--Grid column-->

								<!--Grid column-->
								<div class="col-xl-3 col-md-6 mb-r">
									<!--Card Purple-->
									<div class="card classic-admin-card deep-purple lighten-1">
										<div class="card-body">
											<div class="pull-right">
												<i class="fa fa-bar-chart"></i>
											</div>
											<p>ORGANIC TRAFFIC</p>
											<h4>2000</h4>
										</div>
										<div class="progress">
											<div class="progress-bar bg-success" role="progressbar"
												style="width: 25%" aria-valuenow="25" aria-valuemin="0"
												aria-valuemax="100"></div>
										</div>
										<div class="card-body">
											<p>Better than last week (25%)</p>
										</div>
									</div>
									<!--/.Card Purple-->
								</div>
								<!--Grid column-->
							</div>
							<!--Grid row-->
						</section>

					</section>

				</div>
			</div>
		</div>
	</div>
	</main>
	<footer th:replace="adlayout :: footer"></footer>

</body>
</html>