<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="adlayout :: head"></head>
<body>
	<div th:replace="adlayout :: header"></div>
	<div th:replace="homelayout::modal"></div>
	<!--Content-->
	<main class="container-fluid" id="mainad"> <!--./ code here -->
	<div class="modal-content">
		<div class="modal-body" style="margin-top: 54px">
			<div id="wrapper">
				<div th:replace="adlayout :: sidebar"></div>
				<div id="page-content-wrapper">
                        <h1 id="home" class="text-center font-bold mt-1">
                            Quản lý tin nhắn
                        </h1>
                        <!--Grid column-->
                        <div class="mb-r container-fluid">
                            <button class="btn btn-primary" id="btnrow">Rows</button>
                            <table width="100%" cellspacing="0" class="table table-hover responsive nowrap" id="tbkhoa">
                                <thead>
                                    <tr>
                                        <th class="rgba-teal-strong">Mã TN</th>
                                        <th class="rgba-teal-strong">Tiêu đề</th>
                                        <th class="rgba-teal-strong">Ngày gửi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>Trident</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>Trident</td>

                                    </tr>
                                    <tr class="odd gradeX">
                                        <td>Trident</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>Trident</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Grid column-->
                    </div>
			</div>
		</div>
	</div>
	</main>
	<footer th:replace="adlayout :: footer"></footer>
	<script>
		// Material Select Initialization		
		$(document).ready(
				
				function() {
					//message alert
					var m=$('#message').val();
					if(m!=""){
						   toastr["success"](m);
					}
					//
					$('.mdb-select').material_select();
					$('#datepicker').datepicker({
						format : "dd/mm/yyyy"
					});
					// SideNav Initialization
					$(".button-collapse").sideNav();
					/*Menu-toggle*/
					$("#menu-toggle").click(function(e) {
						e.preventDefault();
						$("#wrapper").toggleClass("active");
					});
					//Table
					var tbkhoa = $('#tbkhoa').DataTable(
							{
								dom : 'Bfrtip',
								select : {
									style : 'single' //'multi',
								// selector : 'td:first-child'
								},
								lengthMenu : [
										[ 10, 25, 50, -1 ],
										[ '10 rows', '25 rows', '50 rows',
												'Show all' ] ],
								buttons : [ 'pageLength', {
									text : 'Select All',
									className : '',
									counter : true,
									action : function(e, dt, node, config) {
										if (config.counter) {
											this.text('Select None');
											tbkhoa.rows({
												page : 'current'
											}).select();
											config.counter = false;
										} else {
											this.text('Select All');
											tbkhoa.rows({
												page : 'current'
											}).deselect();
											config.counter = true;
										}

									}
								}, {
									extend : 'colvis',
									collectionLayout : 'fixed two-column'
								} ]
							});
					//Table
					var tbkh = $('#tbkh').DataTable(
							{
								dom : 'Bfrtip',
								select : {
									style : 'multi',
									selector : 'td:first-child'
								},
								lengthMenu : [
										[ 10, 25, 50, -1 ],
										[ '10 rows', '25 rows', '50 rows',
												'Show all' ] ],
								buttons : [ 'pageLength', {
									text : 'Select All',
									className : '',
									counter : true,
									action : function(e, dt, node, config) {
										if (config.counter) {
											this.text('Select None');
											tbkh.rows({
												page : 'current'
											}).select();
											config.counter = false;
										} else {
											this.text('Select All');
											tbkh.rows({
												page : 'current'
											}).deselect();
											config.counter = true;
										}

									}
								}, {
									extend : 'colvis',
									collectionLayout : 'fixed two-column'
								} ]
							});
					//Table
					var tbloaikh = $('#tbloaikh').DataTable(
							{
								dom : 'Bfrtip',
								select : {
									style : 'multi',
									selector : 'td:first-child'
								},
								lengthMenu : [
										[ 10, 25, 50, -1 ],
										[ '10 rows', '25 rows', '50 rows',
												'Show all' ] ],
								buttons : [ 'pageLength', {
									text : 'Select All',
									className : '',
									counter : true,
									action : function(e, dt, node, config) {
										if (config.counter) {
											this.text('Select None');
											tbloaikh.rows({
												page : 'current'
											}).select();
											config.counter = false;
										} else {
											this.text('Select All');
											tbloaikh.rows({
												page : 'current'
											}).deselect();
											config.counter = true;
										}

									}
								}, {
									extend : 'colvis',
									collectionLayout : 'fixed two-column'
								} ]
							});
					/* if ( tbkhoa.rows( '.selected' ).any() ){
						$('#editkhoa').removeAttr("disabled");
					}else{
						$('#editkhoa').attr('disabled', 'disabled');
					} */
					//btn
					var idkhoa;
					$('#tbkhoa tbody').on('click', 'tr', function() {

						if ($(this).hasClass('selected')) { //da chon roi thi ko chon nua
							$('#editkhoa').removeAttr("disabled");
							$('#deletekhoa').removeAttr("disabled");
							$(this).removeClass('selected');
							idkhoa = tbkhoa.row($(this)).data();

						} else {
							$('#editkhoa').attr('disabled', 'disabled');
							$('#deletekhoa').attr('disabled', 'disabled');
							table.$('tr.selected').removeClass('selected');
							$(this).addClass('selected');

						}
					});
					$('#editkhoa').click(function() {
						$(this).attr('href','khoa/'+idkhoa[0]+'/edit');
					});
					$('#deletekhoa').click(function() {
						$(this).attr('href','isdelete');
						setTimeout( //waiting
								  function() 
								  {
									  $('#titledelete').html('Are you sure delete '+ idkhoa[0]);
									  $('#yesdelete').attr('href','khoa/'+idkhoa[0]+'/delete');
								  }, 100);
					});
					
				});
	</script>
</body>
</html>