<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="adlayout :: head"></head>
<body>
	<div th:replace="adlayout :: header"></div>
	<div th:replace="homelayout::modal"></div>
	<!--Content-->
	<main class="container-fluid" id="mainad"> <!--./ code here -->
	<div class="modal-content">
		<div class="modal-body" style="margin-top: 54px">
			<div id="wrapper">
				<div th:replace="adlayout :: sidebar"></div>
				<div id="page-content-wrapper">
					<h1 id="home" class="text-center font-bold mt-1">Quản lý Khóa
						học</h1>
					<!--Grid column-->
					<div class="mb-r">

						<!-- Nav tabs -->
						<ul class="nav nav-tabs nav-justified" role="tablist">
							<li class="nav-item"><a class="nav-link active"
								data-toggle="tab" href="#panel5" role="tab"><i
									class="fa fa-user"></i> Khoa</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#panel6" role="tab"><i class="fa fa-heart"></i> Loại
									Khóa học</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#panel7" role="tab"><i class="fa fa-envelope"></i>
									Khóa học</a></li>
						</ul>
						<!-- Tab panels -->
						<div class="tab-content">
							<!--Panel 1-->
							<div class="tab-pane fade in show active" id="panel5"
								role="tabpanel">
								<br />
								<div class="rowbtn">
									<button class="btn btn-sm btn-success" data-target=".modal"
										data-toggle="modal" href="khoa/create">
										<i class="fa fa-plus mr-1"></i>Add
									</button>
									<button disabled="disabled" class="btn btn-sm btn-warning"
										data-target=".modal" data-toggle="modal" id="editkhoa">
										<i class="fa fa-magic mr-1"></i>Edit
									</button>
									<button disabled="disabled" class="btn btn-sm btn-danger"
										data-target=".modal" data-toggle="modal" id="deletekhoa">
										<i class="fa fa-trash mr-1"></i>Delete
									</button>
								</div>
								<table width="100%" cellspacing="0"
									class="table table-hover responsive nowrap" id="tbkhoa">
									<thead>
										<tr>
											<th class="rgba-teal-strong">Mã Khoa</th>
											<th class="rgba-teal-strong">Tên Khoa</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="k,i : ${dskhoa}" class="odd gradeX">
											<td th:text="${k.makhoa}">Trident</td>
											<td th:text="${k.tenkhoa}">Internet Explorer 4.0</td>

										</tr>

									</tbody>
								</table>
							</div>
							<!--/.Panel 1-->
							<!--Panel 2-->
							<div class="tab-pane fade" id="panel6" role="tabpanel">
								<br />
								<div class="rowbtn">
									<a class="btn btn-sm btn-success" data-target=".modal"
										data-toggle="modal" href="loginregister"><i
										class="fa fa-plus mr-1"></i>Add</a> <a class="btn btn-sm btn-info"
										data-target=".modal" data-toggle="modal" href="loginregister"><i
										class="fa fa-magic mr-1"></i>Edit</a> <a
										class="btn btn-sm btn-danger" data-target=".modal"
										data-toggle="modal" href="loginregister"><i
										class="fa fa-trash mr-1"></i>Delete</a>
								</div>
								<table width="100%" cellspacing="0"
									class="table table-hover responsive nowrap" id="tbloaikh">
									<thead>
										<tr>
											<th class="rgba-teal-strong">Mã Loại KH</th>
											<th class="rgba-teal-strong">Mã Khoa</th>
											<th class="rgba-teal-strong">Tên Loại KH</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="k,i : ${dsloaikh}" class="odd gradeX">
											<td th:text="${k.maloaikh}">Trident</td>
											<td th:text="${k.makhoa}">Internet Explorer 4.0</td>
											<td th:text="${k.tenloaikh}">Win 95+</td>
										</tr>

									</tbody>
								</table>
							</div>
							<!--/.Panel 2-->
							<!--Panel 3-->
							<div class="tab-pane fade" id="panel7" role="tabpanel">
								<br />
								<div class="rowbtn">
									<a class="btn btn-sm btn-success" data-target=".modal"
										data-toggle="modal" href="loginregister"><i
										class="fa fa-plus mr-1"></i>Add</a> <a class="btn btn-sm btn-info"
										data-target=".modal" data-toggle="modal" href="loginregister"><i
										class="fa fa-magic mr-1"></i>Edit</a> <a
										class="btn btn-sm btn-danger" data-target=".modal"
										data-toggle="modal" href="loginregister"><i
										class="fa fa-trash mr-1"></i>Delete</a>
								</div>
								<table width="100%" cellspacing="0"
									class="table table-hover responsive nowrap" id="tbkh">
									<thead>
										<tr>
											<th class="rgba-teal-strong">Mã KH</th>
											<th class="rgba-teal-strong">Mã Khoa</th>
											<th class="rgba-teal-strong">Tên KH</th>
											<th class="rgba-teal-strong">Mã LKH</th>
											<th class="rgba-teal-strong">Mô tả</th>
											<th class="rgba-teal-strong">Đã duyệt</th>
											<th class="rgba-teal-strong">Giờ BD học</th>
											<th class="rgba-teal-strong">Giờ KT học</th>
											<th class="rgba-teal-strong">TG BD học</th>
											<th class="rgba-teal-strong">TG KT học</th>
											<th class="rgba-teal-strong">TG BD DKí</th>
											<th class="rgba-teal-strong">TG KT DKí</th>
											<th class="rgba-teal-strong">Học phí</th>
											<th class="rgba-teal-strong">Hình</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="k,i : ${dskh}" class="odd gradeX">
											<td th:text="${k.makh}">Trident</td>
											<td th:text="${k.makhoa}">Trident</td>
											<td th:text="${k.tenkh}">Internet Explorer 4.0</td>
											<td th:text="${k.maloaikh}">Win 95+</td>
											<td th:text="${k.mota}">Trident</td>
											<td th:text="${k.daduyet}">Internet Explorer 4.0</td>
											<td th:text="${k.giobd}">Win 95+</td>
											<td th:text="${k.giokt}">Trident</td>
											<td th:text="${k.tgbdhoc}">Internet Explorer 4.0</td>
											<td th:text="${k.tgkthoc}">Internet Explorer 4.0</td>
											<td th:text="${k.tgbddk}">Win 95+</td>
											<td th:text="${k.tgktdk}">Win 95+</td>
											<td th:text="${k.hocphi}">Win 95+</td>
											<td th:text="${k.hinh}">Win 95+</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--/.Panel 3-->
						</div>

					</div>
					<!--Grid column-->
				</div>
			</div>
		</div>
	</div>
	</main>
	<footer th:replace="adlayout :: footer"></footer>
	<script>
		// Material Select Initialization		
		$(document).ready(
				
				function() {
					//message alert
					var m=$('#message').val();
					if(m!=""){
						   toastr["success"](m);
					}
					//
					$('.mdb-select').material_select();
					$('#datepicker').datepicker({
						format : "dd/mm/yyyy"
					});
					// SideNav Initialization
					$(".button-collapse").sideNav();
					/*Menu-toggle*/
					$("#menu-toggle").click(function(e) {
						e.preventDefault();
						$("#wrapper").toggleClass("active");
					});
					//Table
					var tbkhoa = $('#tbkhoa').DataTable(
							{
								dom : 'Bfrtip',
								select : {
									style : 'single' //'multi',
								// selector : 'td:first-child'
								},
								lengthMenu : [
										[ 10, 25, 50, -1 ],
										[ '10 rows', '25 rows', '50 rows',
												'Show all' ] ],
								buttons : [ 'pageLength', {
									text : 'Select All',
									className : '',
									counter : true,
									action : function(e, dt, node, config) {
										if (config.counter) {
											this.text('Select None');
											tbkhoa.rows({
												page : 'current'
											}).select();
											config.counter = false;
										} else {
											this.text('Select All');
											tbkhoa.rows({
												page : 'current'
											}).deselect();
											config.counter = true;
										}

									}
								}, {
									extend : 'colvis',
									collectionLayout : 'fixed two-column'
								} ]
							});
					//Table
					var tbkh = $('#tbkh').DataTable(
							{
								dom : 'Bfrtip',
								select : {
									style : 'multi',
									selector : 'td:first-child'
								},
								lengthMenu : [
										[ 10, 25, 50, -1 ],
										[ '10 rows', '25 rows', '50 rows',
												'Show all' ] ],
								buttons : [ 'pageLength', {
									text : 'Select All',
									className : '',
									counter : true,
									action : function(e, dt, node, config) {
										if (config.counter) {
											this.text('Select None');
											tbkh.rows({
												page : 'current'
											}).select();
											config.counter = false;
										} else {
											this.text('Select All');
											tbkh.rows({
												page : 'current'
											}).deselect();
											config.counter = true;
										}

									}
								}, {
									extend : 'colvis',
									collectionLayout : 'fixed two-column'
								} ]
							});
					//Table
					var tbloaikh = $('#tbloaikh').DataTable(
							{
								dom : 'Bfrtip',
								select : {
									style : 'multi',
									selector : 'td:first-child'
								},
								lengthMenu : [
										[ 10, 25, 50, -1 ],
										[ '10 rows', '25 rows', '50 rows',
												'Show all' ] ],
								buttons : [ 'pageLength', {
									text : 'Select All',
									className : '',
									counter : true,
									action : function(e, dt, node, config) {
										if (config.counter) {
											this.text('Select None');
											tbloaikh.rows({
												page : 'current'
											}).select();
											config.counter = false;
										} else {
											this.text('Select All');
											tbloaikh.rows({
												page : 'current'
											}).deselect();
											config.counter = true;
										}

									}
								}, {
									extend : 'colvis',
									collectionLayout : 'fixed two-column'
								} ]
							});
					/* if ( tbkhoa.rows( '.selected' ).any() ){
						$('#editkhoa').removeAttr("disabled");
					}else{
						$('#editkhoa').attr('disabled', 'disabled');
					} */
					//btn
					var idkhoa;
					$('#tbkhoa tbody').on('click', 'tr', function() {

						if ($(this).hasClass('selected')) { //da chon roi thi ko chon nua
							$('#editkhoa').removeAttr("disabled");
							$('#deletekhoa').removeAttr("disabled");
							$(this).removeClass('selected');
							idkhoa = tbkhoa.row($(this)).data();

						} else {
							$('#editkhoa').attr('disabled', 'disabled');
							$('#deletekhoa').attr('disabled', 'disabled');
							table.$('tr.selected').removeClass('selected');
							$(this).addClass('selected');

						}
					});
					$('#editkhoa').click(function() {
						$(this).attr('href','khoa/'+idkhoa[0]+'/edit');
					});
					$('#deletekhoa').click(function() {
						$(this).attr('href','isdelete');
						setTimeout( //waiting
								  function() 
								  {
									  $('#titledelete').html('Are you sure delete '+ idkhoa[0]);
									  $('#yesdelete').attr('href','khoa/'+idkhoa[0]+'/delete');
								  }, 100);
					});
					
				});
	</script>
</body>
</html>