<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="homelayout :: head"></head>
<body>
	<div th:replace="homelayout :: header"></div>
	<div th:replace="homelayout :: modal"></div>
	<!--Content-->
	<main class="container"> <!--./ code here --> <!--Grid row-->
	<div class="row mt-4">

		<!--Grid column-->
		<div class="col-md-12">
			<h2 class="text-center font-bold">My Account</h2>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-justified">
				<li class="nav-item"><a class="nav-link active"
					data-toggle="tab" href="#panel1" role="tab">Profile</a></li>
				<li class="nav-item"><a class="nav-link" data-toggle="tab"
					href="#panel2" role="tab">Courses</a></li>
				<li class="nav-item"><a class="nav-link" data-toggle="tab"
					href="#panel3" role="tab">Classes</a></li>
			</ul>
			<!-- Tab panels -->
			<div class="tab-content card">
				<!--Panel 1-->
				<div class="tab-pane fade in show active" id="panel1"
					role="tabpanel">
					<br />
					<div class="row">
						<div class="col-md-6 mb-r">
							<!--Card-->
							<div class="card testimonial-card">

								<!--Bacground color-->
								<div class="card-up aqua-gradient"></div>

								<!--Avatar-->
								<div class="avatar">
									<img id="imgpreview"
										src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg"
										class="img-fluid" style="height: 100%" />
								</div>

								<div class="card-body">
									<!--Name-->
									<h4 class="card-title">Your name</h4>
									<hr />

									<div class="file-field">
										<p>
											<strong id="xImagePath">Selected Image URL</strong><br /> <input
												class="btn btn-primary btn-sm waves-effect waves-light"
												type="button" value="Browse Image"
												onclick="BrowseServer( 'Images:/', 'xImagePath' );" />
										</p>

									</div>

									<small>Note: You should select square image !</small>
								</div>

							</div>
							<!--/.Card-->
						</div>

						<div class="col-md-6 mb-r">
							<form id="myform" action="myaccount/save"
								th:action="@{/myaccount/save}" th:object="${nd}" method="POST">
								<!--Email validation-->
								<input type="hidden" id="hinh" class="form-control"
									th:field="*{hinh}" />
								<div class="md-form">
									<i class="fa fa-envelope prefix"></i> <input type="text"
										id="mand" class="form-control validate" readonly="readonly"
										th:field="*{mand}" /> <label for="mand" data-error="wrong"
										data-success="right" class="">ID</label>
								</div>
								<div class="md-form">
									<i class="fa fa-envelope prefix"></i> <input type="text"
										id="ten" class="form-control validate" th:field="*{ten}" /> <label
										for="ten" data-error="wrong" data-success="right" class="">Last
										name</label>
								</div>
								<div class="md-form">
									<i class="fa fa-envelope prefix"></i> <input type="text"
										id="hovatenlot" class="form-control validate"
										th:field="*{hovatenlot}" /> <label for="hovatenlot"
										data-error="wrong" data-success="right" class="">First
										mane and Middle name</label>
								</div>
								<input type="hidden" id="phai" th:value="${nd.phai}"
									th:field="*{phai}" />
								<div class="switch">
									<label> Male <input id="cbphai" type="checkbox"
										th:checked="${nd.phai}" /> <span class="lever"></span> Female
									</label>
								</div>

								<div class="md-form">
									<i class="fa fa-envelope prefix"></i> <input type="text"
										id="diachi" class="form-control validate" th:field="*{diachi}" />
									<label for="diachi" data-error="wrong" data-success="right"
										class="">Address</label>
								</div>
								<div class="md-form">
									<i class="fa fa-envelope prefix"></i> <input type="text"
										id="cmnd" class="form-control validate" th:field="*{cmnd}" />
									<label for="cmnd" data-error="wrong" data-success="right"
										class="">Identity card number</label>
								</div>
								<div class="md-form">
									<i class="fa fa-envelope prefix"></i> <input type="email"
										id="email" class="form-control validate" th:field="*{email}" />
									<label for="email" data-error="wrong" data-success="right"
										class="">Email</label>
								</div>
								<div class="md-form">
									<i class="fa fa-pencil prefix"></i> <input type="text"
										id="mota" class="form-control validate" th:field="*{mota}" />
									<label for="mota" data-error="wrong" data-success="right"
										class="">Description</label>
								</div>

								<div class="input-group date">
									<input type="text" class="form-control" id="ngaysinh"
										placeholder="Birthday: DD/MM/YYYY" th:field="*{ngaysinh}"
										th:value="${nd.ngaysinh}" />
								</div>
								<input class="btn btn-default" type="submit" value="Save" />
							</form>
						</div>
					</div>

				</div>
				<!--/.Panel 1-->
				<!--Panel 2-->
				<div class="tab-pane fade" id="panel2" role="tabpanel">
					<br />

					<h1 class="h1-responsive">Courses</h1>
					<div class="row courselist">
						<!--Image column-->
						<div class="col-sm-2 col-12">
							<img class="img-fluid z-depth-2"
								src="https://i2.wp.com/wp-education.xoothemes.com/wp-content/uploads/2016/11/php.png?resize=340%2C340" />
						</div>
						<!--/.Image column-->
						<!--Content column-->
						<div class="col-sm-10 col-12">
							<a>
								<h3 class="user-name">Name Course</h3>
							</a>
							<div class="nd">
								<ul class="list-unstyled">
									<li class="comment-date"><i class="fa fa-clock-o"></i>
										17/10/2015</li>
								</ul>
								<!--Review-->
								<div class="orange-text">
									<i class="fa fa-star"> </i> <i class="fa fa-star"> </i> <i
										class="fa fa-star"> </i> <i class="fa fa-star"> </i> <i
										class="fa fa-star-half-full"> </i>
								</div>
							</div>
							<p class="comment-text">At vero eos et accusamus et iusto
								odio dignissimos ducimus qui blanditiis praesentium voluptatum
								deleniti atque corrupti quos dolores et quas molestias excepturi
								sint occaecati cupiditate non provident, similique sunt in culpa
								qui officia.</p>
						</div>
						<!--/.Content column-->
					</div>
					<div class="row courselist">
						<!--Image column-->
						<div class="col-sm-2 ">
							<img class="img-fluid z-depth-2"
								src="https://i2.wp.com/wp-education.xoothemes.com/wp-content/uploads/2016/11/php.png?resize=340%2C340" />
						</div>
						<!--/.Image column-->
						<!--Content column-->
						<div class="col-sm-10 ">
							<a>
								<h3 class="user-name">Name Course</h3>
							</a>
							<div class="nd">
								<ul class="list-unstyled">
									<li class="comment-date"><i class="fa fa-clock-o"></i>
										17/10/2015</li>
								</ul>
								<!--Review-->
								<div class="orange-text">
									<i class="fa fa-star"> </i> <i class="fa fa-star"> </i> <i
										class="fa fa-star"> </i> <i class="fa fa-star"> </i> <i
										class="fa fa-star-half-full"> </i>
								</div>
							</div>
							<p class="comment-text">At vero eos et accusamus et iusto
								odio dignissimos ducimus qui blanditiis praesentium voluptatum
								deleniti atque corrupti quos dolores et quas molestias excepturi
								sint occaecati cupiditate non provident, similique sunt in culpa
								qui officia.</p>
						</div>
						<!--/.Content column-->
					</div>

				</div>
				<!--/.Panel 2-->
				<!--Panel 3-->
				<div class="tab-pane fade" id="panel3" role="tabpanel">
					<br />
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Nihil odit magnam minima, soluta doloribus reiciendis molestiae
						placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora,
						placeat ratione porro voluptate odit minima.</p>
				</div>
				<!--/.Panel 3-->
			</div>

		</div>
		<!--Grid column-->
	</div>

	<!--./ code here --> </main>
	<!--/.Content-->
	<footer th:replace="homelayout :: footer"></footer>
	<script src="ckfinder/ckfinder.js" th:src="@{/ckfinder/ckfinder.js}"></script>
	<script type="text/javascript" src="js/moment-with-locales.min.js"
		th:src="@{/js/moment-with-locales.min.js}"></script>
	<script type="text/javascript"
		src="js/bootstrap-material-datetimepicker.js"
		th:src="@{/js/bootstrap-material-datetimepicker.js}"></script>
	<script>
		/*Avatar start*/
		function BrowseServer(startupPath, functionData) {
			// You can use the "CKFinder" class to render CKFinder in a page:
			var finder = new CKFinder();

			// The path for the installation of CKFinder (default = "/ckfinder/").
			finder.basePath = '../';

			//Startup path in a form: "Type:/path/to/directory/"
			finder.startupPath = startupPath;

			// Name of a function which is called when a file is selected in CKFinder.
			finder.selectActionFunction = SetFileField;

			// Additional data to be passed to the selectActionFunction in a second argument.
			// We'll use this feature to pass the Id of a field that will be updated.
			finder.selectActionData = functionData;

			// Name of a function which is called when a thumbnail is selected in CKFinder. Preview img
			// finder.selectThumbnailActionFunction = ShowThumbnails;

			// Launch CKFinder
			finder.popup();
		}

		// This is a sample function which is called when a file is selected in CKFinder.
		function SetFileField(fileUrl, data) {
			document.getElementById(data["selectActionData"]).innerHTML = this
					.getSelectedFile().name;
			document.getElementById("imgpreview").src = fileUrl;
			document.getElementById("hinh").value = fileUrl;
		}

		// This is a sample function which is called when a thumbnail is selected in CKFinder.
		/* function ShowThumbnails( fileUrl, data )
		{
			// this = CKFinderAPI
			// var sFileName = this.getSelectedFile().name;
			document.getElementById("imgpreview").src=fileUrl;
			// It is not required to return any value.
			// When false is returned, CKFinder will not close automatically.
			return false;
		} */
		/*Avatar end*/

		$(document).ready(function() {
			$('#ngaysinh').bootstrapMaterialDatePicker({
				weekStart : 0,
				time : false
			});
			$('#myform :checkbox').change(function() {
				var phai = $("#phai");
				if (this.checked) {
					phai.val(1);
				} else {
					phai.val(0);
				}
			});

		});
	</script>
</body>
</html>