<meta charset="utf-8" />
<div class="modal-content">
	<!--Header-->
	<div class="modal-header light-blue darken-3 white-text">
		<h4 class="title">
			<i class="fa fa-pencil"></i>Edit Tin Nhắn
		</h4>
		<button type="button" class="close waves-effect waves-light"
			data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true" class="fa fa-remove"></span>
		</button>
	</div>
	<!--Body-->
	<div class="modal-body mb-0">
		<form class="form-inline pull-right" action="tinhan/save"
			th:object="${tinnhan}" th:action="@{/tinnhan/save}" method="POST">
			<!-- <div class="md-form form-sm">
				<i class="fa fa-tag prefix"></i> <input type="text" id="matn"
					class="form-control" th:field="*{matn}" /> <label for="matn"
					class="">Mã TN</label>
			</div> -->
			<div class="md-form form-sm">
				<i class="fa fa-tag prefix"></i> <input type="text" id="tieude"
					class="form-control" th:field="*{tieude}" /> <label for="tieude"
					class="">Tiêu đề</label>
			</div>
			<div class="md-form form-sm">
				<i class="fa fa-tag prefix"></i> <input type="text" id="tggui"
					class="form-control" th:field="*{tggui}" /> <label for="tggui"
					class="">TG gửi</label>
			</div>
			<div class="md-form form-sm">
				<i class="fa fa-tag prefix"></i> <input type="text" id="noidung"
					class="form-control" th:field="*{noidung}" /> <label for="noidung"
					class="">Nội dung</label>
			</div>

			<div class="text-center mt-1-half">
				<button class="btn btn-info mb-2 waves-effect waves-light">
					Save <i class="fa fa-send ml-1"></i>
				</button>
			</div>
		</form>
	</div>
</div>
<script>
	$(function() { //active label
		if ($('.form-inline input').val() != "") {
			$('label').each(function() {
				$(this).addClass('active');
			});
		}
	});
	$('#tggui').bootstrapMaterialDatePicker({
		weekStart : 0
	});
</script>
